<!-- begin header -->
<header class="header">
	<div class="header__inner">
		<h1 class="logo">
			<a href="#" class="logo__in">Name of the law company</a>
		</h1>
		<a href="#" class="profile">
			<div class="profile__img" style="background-image: url(img/profile.jpg);"></div>
			<div class="profile__title">Gavin Davis</div>
		</a>
		<button class="header__search js-search-control">
			{{mixins.icon('search', 'header__search-icon')}}
		</button>
		<div class="search js-search">
			<button class="search__close js-search-control">
				{{mixins.icon('close', 'search__icon')}}
			</button>
			<form action="/" class="search__form">
				<button class="search__btn" type="submit">
					{{mixins.icon('search', 'search__icon')}}
				</button>
				<input type="text" class="search__input" placeholder="Search">
			</form>
		</div>
	</div>
</header>
<!-- end header -->