{% set popup = {
	title: 'Preview and finalize',
	data: 'preview',
	list: [
		{name: 'Removed Director: <span>Jevin Maltais</span>'},
		{name: 'Added Director: <span>Alice Smith</span>'}
	]
} %}

<!-- begin popup -->
<div class="popup js-modal" data-modal="{{popup.data}}">
	<div class="inner popup__inner">
		<div class="popup__content js-modal-prevent">
			<button class="popup__close js-modal-control" data-target="{{popup.data}}">{{mixins.icon('close', 'popup__icon')}}</button>
			<div class="title-md popup__title">{{popup.title}}</div>
			<div class="popup__heading">
				<div class="title-sm popup__subtitle">Changes</div>
			</div>
			<ul class="director-list popup__director-list">
				{% for item in popup.list %}
				<li class="director-list__item">{{item.name | safe}}</li>
				{% endfor %}
			</ul>
			<div class="popup__heading">
				<div class="title-sm popup__subtitle popup__subtitle_indent">Documents</div>
				<button class="btn btn_blue popup__btn">Build Draft Documents</button>
			</div>
			<p class="popup__text">Documents aren't built</p>
		</div>
	</div>
</div>
<!-- end popup -->
