<!-- begin table -->
<div class="table">
	<div class="table__thead">
		<div class="table__tr">
			<div class="table__th" data-column="name">Name</div>
			<div class="table__th" data-column="created">Created</div>
			<div class="table__th" data-column="modified">Last modified</div>
		</div>
	</div>
	<div class="table__tbody">
		<div class="table__tr">
			<div class="table__td" data-column="name"><div class="title">ABC inc</div></div>
			<div class="table__td" data-column="created"><div class="meta">January 1, 2018</div></div>
			<div class="table__td" data-column="modified"><div class="meta">March 28, 2018</div><button class="table__btn btn-option"><span></span></button></div>
		</div>
	</div>
</div>
<!-- end table -->
