<!-- begin table -->
<div class="table">
	{% set titles = {
		name: 'Name',
		created: 'Created',
		modified: 'Last modified'
	} %}
	<div class="table__thead">
		<div class="table__tr">
			<div class="table__th" data-column="name">{{titles.name}}</div>
			<div class="table__th" data-column="created">{{titles.created}}</div>
			<div class="table__th" data-column="modified">{{titles.modified}}</div>
		</div>
	</div>
	<div class="table__tbody">
		{% for item in  [
			{ name: 'ABC inc', meta: 'January 1, 2018', modified: 'March 28, 2018' },
			{ name: 'Haag-Gerhold', meta: 'August 16,2016', modified: 'April 1, 2018' },
			{ name: 'Reichel-Cummings inc', meta: 'January 1, 2018', modified: 'March 28, 2018' },
			{ name: 'Greenholt, Kuhn and Larson', meta: 'January 1, 2018', modified: 'March 28, 2018' },
			{ name: 'Dare LLC', meta: 'January 1, 2018', modified: 'March 28, 2018' }
		] %}
		<div class="table__tr">
			<div class="table__td" data-column="name" data-title="{{titles.name}}">
				<div class="table__title"><a href="#">{{item.name}}</a></div>
			</div>
			<div class="table__td" data-column="created" data-title="{{titles.created}}">
				<div class="table__meta">{{item.meta}}</div>
			</div>
			<div class="table__td" data-column="modified" data-title="{{titles.modified}}">
				<div class="table__meta">{{item.modified}}</div>
			</div>
			<button class="table__btn btn-option"><span></span></button>
		</div>
		{% endfor %}
	</div>
</div>
	<!-- end table -->
