<!-- begin table -->
<div class="table">
	<div class="table__thead">
		<div class="table__tr">
			<div class="table__th" data-column="name">Name</div>
			<div class="table__th" data-column="name">Created</div>
			<div class="table__th" data-column="name">Last modified</div>
		</div>
	</div>
	<div class="table__tbody">
		<div class="table__tr">
			<div class="table__td" data-column="name"><div class="title">ABC inc</div></div>
			<div class="table__td" data-column="name"><div class="meta">January 1, 2018</div></div>
			<div class="table__td" data-column="name"><div class="meta">March 28, 2018</div></div>
		</div>
	</div>
</div>
<!-- end table -->
