---
title: Directors & Officers
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% set topic = {
		id: '13427995',
		title: 'Reichel-Cummings inc',
		btn: 'Edit Corporation'
	} %}

	{% set tabs = [
		{ control: 'Company', id: 'company', file: 'company' },
		{ control: 'Directors & Officers', id: 'directors-and-officers', file: 'directors-and-officers' },
		{ control: 'Shares', id: 'shares', file: 'shares' },
		{ control: 'Meetings', id: 'meetings', file: 'meetings' },
		{ control: 'Finance', id: 'finance', file: 'finance' }
	] %}

	{% set activeTab = 2 %}

	{% include 'partials/components/_header.html' %}
	{% include 'partials/components/_topic.html' %}
	<div class="main">
		<div class="inner">
				{{section.call({
					title: 'Directors',
					btns: [
						{name: 'cancel', class: 'btn_gray section__editing'},
						{name: 'delete', class: 'btn_red section__editing'},
						{name: 'select', class: 'btn_gray section__selection'},
						{name: 'add'}
					],
					tableOption : {
						cols: ['name', 'address', 'director', 'incorporator'],
						titles: ['Name', 'Address', 'First director', 'Incorporator'],
						strings: [
							['Thomas Butler', 'Canada, Banff <p>0303 Wilderman Turnpike</p>', 'Lorem ipsum', 'Lorem ipsum'],
							['Bernice Walters', 'Canada, Banff <p>4168 Ida Circle Suite 518</p>', 'Lorem ipsum', 'Lorem ipsum']
						],
						checkboxOptions: {
							class: ['static-table__checkbox']
						}
					}
				})}}
				{{section.call({
					title: ['Officers'],
					btns: [
						{name: 'add'}
					],
					tableOption : {
						cols: ['name', 'address', 'director', 'incorporator'],
						titles: ['Name', 'Address', 'Position', ''],
						footer: ['There are no officers yet']
					}
				})}}

				{% include 'partials/components/_btn-next.html' %}
		</div>
	</div>

{% endblock %}
