---
title: Edit
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% set topic = {
		attrs: 'data-toggle-section="corporation"',
		id: '13427995',
		title: 'Reichel-Cummings inc',
		link: 'Corporations',
		btn: 'Edit corporation',
		btnLink: '#',
		btnAttrs: 'data-toggle-control="corporation" data-tabs-shadow-control="corporation"',
		meta: 'Last modified Apr 17'
	} %}

	{% set tabs = [
		{ control: 'Company', id: 'company', file: 'company-static' },
		{ control: 'Directors & Officers', id: 'corporation', file: 'corporation' },
		{ control: 'Shares', id: 'shares', file: 'shares' },
		{ control: 'Meetings', id: 'meetings', file: 'meetings' },
		{ control: 'Finance', id: 'finance', file: 'finance' }
	] %}

	{% set activeTab = 1 %}

	{% include 'partials/components/_header.html' %}
	{% include 'partials/components/_topic.html' %}
	{% for item in tabs %}
		{% if item.file %}
			<div class="main" data-tabs-content="{{item.id}}">
				{% include 'partials/tabs/_' + item.file + '.html' %}
			</div>
		{% endif %}
	{% endfor %}
	<div class="main" data-tabs-content="history">
		{% include 'partials/tabs/_history.html' %}
	</div>

{% endblock %}