---
title: shares
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% set topic = {
		id: '13427995',
		title: 'New corporation',
		btn: 'Preview & Finalize',
		btnClassList: 'btn_blue',
		link: 'Corporations'
	} %}

	{% set tabs = [
		{ control: 'Company', id: 'company', file: 'company' },
		{ control: 'Directors & Officers', id: 'directors-and-officers', file: 'directors-and-officers' },
		{ control: 'Shares', id: 'shares', file: 'shares' },
		{ control: 'Meetings', id: 'meetings', file: 'meetings' },
		{ control: 'Finance', id: 'finance', file: 'finance' }
	] %}

	{% set activeTab = 3 %}

	{% include 'partials/components/_header.html' %}
	{% include 'partials/components/_topic.html' %}
	<div class="main">
		<div class="inner">
				{{section.call({
					title: ['Share classes'],
					btns: [
						{name: 'add'}
					],
					tableOption : {
						cols: ['share', 'series', 'voting', 'votes', 'price'],
						titles: ['Share class', 'Series', 'Voting', 'Votes per share', 'Shares Authorized'],
						footer: ['There are no officers yet']
					}
				})}}
				{{section.call({
					title: ['Share classes'],
					btns: [
						{name: 'add'}
					],
					tableOption : {
						cols: ['share', 'series', 'voting', 'votes', 'price'],
						titles: ['Name', 'Share class', 'Certificate', 'Shares', 'Price'],
						footer: ['There are no officers yet']
					}
				})}}

				{% set controls = {
					next: true,
					prev: true
				} %}
				{% include 'partials/components/_btn-control.html' %}
		</div>
	</div>

{% endblock %}
