{% import "partials/mixins/_static-table.html" as staticTable %}
{% macro call(props) %}
	<!-- begin section -->
	<div class="section {{props.classList}}" {{props.attrs | safe}}>
		<div class="section__header">
			<div class="section__selected"><span>2</span> directors selected <button class="btn-link">Clear</button></div>
			<div class="title-sm section__title">{{props.title}}</div>
			<div class="section__btns">
				{% for item in props.btns %}
					<button class="btn section__btn {{item.class}}" {{item.attrs | safe}}>{{item.name}}</button>
				{% endfor %}
			</div>
		</div>
		{{staticTable.call(props.tableOption)}}
	</div>
	<!-- end section -->
{% endmacro %}
