.btn
	display: inline-block
	vertical-align: top
	padding: 9px 19px 6px
	border: 1px solid $dark-sky-blue
	border-radius: 4px
	color: $dark-sky-blue
	background: none
	+f(11px, 400, 13px)
	letter-spacing: 0.6px
	text-align: center
	text-transform: uppercase
	transition: color 0.25s, background 0.25s
	+hover
		color: $white
		background: $blue
	&_gray
		border-color: $cool-gray
		color: $cool-gray
		+hover
			background: $cool-gray
	&_red
		border-color: $red
		color: $red
		+hover
			background: $red
	&_blue
		background: $blue
		color: $white
		+hover
			background: transparent
			color: $blue
