.field
	padding-top: 20px
	position: relative
	+xs
		margin-bottom: 10px
	&.is-focus
		.field__label
			transform: translate(0) scale(0.8)
			&_sm
				transform: translate(0) scale(0.923)
	&_indent
		margin-bottom: 10px
	&__label
		position: absolute
		z-index: 2
		left: 0
		top: 0
		color: $cool-gray
		+f(15px, null, 20px)
		pointer-events: none
		transform: translate(15px, 27px)
		transform-origin: left top
		transition: transform .3s, font-size .3s
		&_sm
			+f(13px, null, 20px)
			transform: translate(10px, 26px)
		&_lg
			transform: translate(10px, 31px)
	&__description
		margin-top: 5px
		color: $dark-gray
		+f(12px, null, null)
	&__input,
	&__textarea,
	&__datepicker
		width: 100%
		display: block
		border-radius: 4px
		border: none
		background: $white-smoke
	&__textarea
		+f(15px, 400, 20px)
		resize: none
		height: 100px
		padding: 7px 15px
		color: $charcoal-gray
		+f(15px, 400, 20px)
	&__input,
	&__datepicker
		height: 30px
		padding: 3px 10px
		+f(13px, 400, 20px)
	&__datepicker
		padding-right: 30px
		&_lg
			height: 39px
			background: transparent
			border: 1px solid #e7e7e7

	&__in
		position: relative
	&__calendar
		position: absolute
		top: 50%
		right: 10px
		margin-top: -0.55em
		fill: #A5AFBA
		font-size: 17px
		pointer-events: none
