.header
	position: absolute
	top: 0
	left: 0
	right: 0
	padding: 12px 40px
	min-width: 320px
	+md
		padding-left: 20px
		padding-right: 20px
	&__inner
		+clr
	&__search
		display: none
		float: right
		margin-right: 20px
		border: 1px solid #E7E7E7
		border-radius: 50%
		width: 32px
		height: 32px
		background: none
		+vertical
		transition: border-color 0.3s, background 0.3s
		+hover
			border-color: $blue
			background: $blue
			.header__search-icon
				fill: $white
		+sm 
			display: block
		&-icon
			display: inline-block
			vertical-align: middle
			fill: $cool-gray
			font-size: 14px
			transition: fill 0.3s