
<div class="inner">
	{% set partition = [
		{
			title: 'Director’s meetings',
			classList: 'partition_indent',
			gridClass: 'partition__grid',
			grid: [
				{
					cols: 'grid__col_33 grid__col_xs-100',
					fieldOptions: {
						label: 'Notice',
						textarea: true
					}
				},
				{
					cols: 'grid__col_33 grid__col_xs-100',
					fieldOptions: {
						label: 'Quorum',
						textarea: true
					}
				},
				{
					cols: 'grid__col_33 grid__col_xs-100',
					fieldOptions: {
						label: 'Votes to govern',
						textarea: true
					}
				}
			],
			checkboxOptions: {
				class: 'partition__checkbox',
				label: 'Casting vote'
			}
		},
		{
			title: 'Shareholders meeting',
			gridClass: 'partition__grid',
			grid: [
				{
					cols: 'grid__col_33 grid__col_xs-100',
					fieldOptions: {
						label: 'Notice',
						textarea: true
					}
				},
				{
					cols: 'grid__col_33 grid__col_xs-100',
					fieldOptions: {
						label: 'Quorum',
						textarea: true
					}
				},
				{
					cols: 'grid__col_33 grid__col_xs-100',
					fieldOptions: {
						label: 'Votes to govern',
						textarea: true
					}
				}
			],
			checkboxOptions: {
				class: 'partition__checkbox',
				label: 'Casting vote'
			}
		},
		{
			gridClass: 'partition__grid',
			grid: [
				{
					cols: 'grid__col_100',
					fieldOptions: {
						label: 'Execution of documents',
						textarea: true
					}
				}
			]
		}
	] %}
	{% for item in partition %}
		<!-- begin partition -->
		<div class="partition {{item.classList}}">
			{% if item.title %}
				<div class="partition__header">
					<div class="title-sm partition__title">{{item.title}}</div>
					{{checkbox.call(item.checkboxOptions)}}
				</div>
			{% endif %}
			<div class="grid {{item.gridClass}}">
				<div class="grid__row">
					{% for item in item.grid %}
						<div class="grid__col {{item.cols}}">
							{{field.call(item.fieldOptions)}}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- end partition -->
	{% endfor %}

	{% set controls = {
		prev: true,
		next: true,
		class: 'btn-control_indent'
	} %}
	{% include 'partials/components/_btn-control.html' %}
</div>