.icon-angle-left {
  width: 0.54em;
  height: 1em;
  fill: #007AFF;
}
.icon-angle-right {
  width: 0.54em;
  height: 1em;
  fill: #007AFF;
}
.icon-calendar {
  width: 0.94em;
  height: 1em;
  fill: #A5AFBA;
}
.icon-check {
  width: 1.38em;
  height: 1em;
  fill: #1B80EF;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #A5AFBA;
}
.icon-file {
  width: 0.79em;
  height: 1em;
  fill: #D8DCE1;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
